<mat-sidenav-container class="dash-shell" [class.dash-shell-wide]="sidebar.wide()">
  <mat-sidenav
    class="dash-drawer"
    [class.dash-drawer-collapsed]="collapsed()"
    [class.dash-drawer-rail]="rail()"
    [mode]="sidebar.wide() ? 'side' : 'over'"
    [opened]="sidebar.opened()"
    (closed)="sidebar.close()"
    (mouseenter)="peek(true)"
    (mouseleave)="peek(false)"
    (focusin)="peek(true)"
    (focusout)="peek(false)"
    (transitionend)="settled($event)"
  >
    <app-sidebar [rail]="rail()"/>
  </mat-sidenav>

  <mat-sidenav-content class="dash-content">
    <div class="dash-content-inner">
      <router-outlet/>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>