<button
  mat-button
  type="button"
  class="user-menu-trigger"
  [matMenuTriggerFor]="menu"
  [attr.aria-label]="'Account menu for ' + user().displayName"
>

  <span class="user-menu-identity">
    <img
      class="user-menu-avatar"
      [ngSrc]="user().profileImageUrl"
      [width]=32
      [height]=32
      alt=""
    />
    <span class="user-menu-name" [style.--chat-color]="chatColor()">{{ user().displayName }}</span>
  </span>

  <mat-icon aria-hidden="true" iconPositionEnd>expand_more</mat-icon>
</button>

<mat-menu #menu="matMenu">

  <div
    class="user-menu-details"
    role="group"
    aria-label="Account details"
    (click)="$event.stopPropagation()"
  >
    <p class="user-menu-detail">
      <span class="user-menu-label">User ID:</span>
      <span class="user-menu-value">{{ user().id }}</span>
    </p>
    <p class="user-menu-detail">
      <span class="user-menu-label">Email:</span>
      <span class="user-menu-value">{{ user().email ?? 'Not shared' }}</span>
    </p>
    <p class="user-menu-detail">
      <span class="user-menu-label">Birthday:</span>
      <span class="user-menu-value">
        @if (birthdayDate(); as date) {
          {{ date | localeDate }}
        } @else {
          Not set
        }
      </span>
    </p>
  </div>

  <mat-divider/>

  @if (faqUrl; as url) {
    <a mat-menu-item class="user-menu-faq" [href]="url">
      <mat-icon aria-hidden="true">quiz</mat-icon>
      <span>FAQ</span>
    </a>
  } @else {
    <a mat-menu-item class="user-menu-faq" routerLink="/faq">
      <mat-icon aria-hidden="true">quiz</mat-icon>
      <span>FAQ</span>
    </a>
  }

  <button mat-menu-item type="button" (click)="editBirthday()">
    <mat-icon aria-hidden="true">cake</mat-icon>
    <span>{{ birthday() ? 'Change birthday' : 'Set birthday' }}</span>
  </button>

  <button mat-menu-item type="button" (click)="logout()">
    <mat-icon aria-hidden="true">logout</mat-icon>
    <span>Log out</span>
  </button>
</mat-menu>